@{
    ViewData["Title"] = "Home Page";
}

<form enctype="multipart/form-data" asp-controller="Home" asp-action="UploadCsv" method="post" class="mt-4">
    <div class="form-group">
        <label for="Subject" class="form-label">Assunto do E-mail</label>
        <input type="text" class="form-control" id="Subject" name="Subject" placeholder="Digite o assunto do e-mail" required />
    </div>

    <div class="form-group mt-3">
        <label for="Body" class="form-label">Corpo do E-mail</label>
        <textarea class="form-control" id="Body" name="Body" rows="4" placeholder="Digite o corpo do e-mail" required></textarea>
    </div>

    <div class="form-group mt-3">
        <label for="CsvFile" class="form-label">Anexar Arquivo CSV</label>
        <input type="file" class="form-control" id="CsvFile" name="CsvFile" accept=".csv" required />
    </div>

    <button type="submit" class="btn btn-primary mt-4">Enviar E-mails</button>
</form>
